<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="lgn-div">
            <h1>Login Page</h1>
            <form action="" method="post">
                <input type="email" required placeholder="Enter email" name="mail">
                <input type="password" required placeholder="Enter password" name="pwd">
                <button type="submit" id="lgn-btn">Login</button>
            </form>
        </div>


        <script src="../static/js/script.js"></script>
    </body>
</html>